<!DOCTYPE html>
<html>
<head>
    <title>demo</title>
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>

<!-- include使用相对路径 -->
<%- include('fragment/test') %>

<p>
    <%= __global__ %>
</p>
</body>
</html>
